.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 auto;
    height: auto;
  
  }
  
  /* Tablet */
  @media (min-width: 768) {
    .container {
      align-items: center;
    }
  }
  
  /* Desktop */
  @media (min-width: 1280px) {
    .container {
      
    }
  }
  